@page "/Coin/Index"
@using Common.Utilities
@using global::Shared.DTOs
@rendermode InteractiveServer


<PageTitle>ارزها</PageTitle>

<DeleteWarning OnClick="Delete"></DeleteWarning>

<dialog class="modal" id="buyModal">
    <div class="modal-box w-11/12 max-w-5xl">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute left-2 top-2">✕</button>
        </form>
        <h3 class="text-lg font-bold">خرید ارز</h3>

        @if (_modalIsBusy)
        {
        <LoadingList></LoadingList>
        }
        else
        {
        <EditForm Model="@_buyCoinDto" OnValidSubmit="HandleValidBuySubmit">
            <DataAnnotationsValidator/>
            <div class="grid grid-cols-3 gap-4 mt-3">

                <fieldset class="fieldset w-full">
                    <legend class="fieldset-legend">@(ModelExtensions.ToDisplay<BuyCoinDto>(i => i.Currency))</legend>
                    <InputText @bind-Value="_buyCoinDto.Currency" class="input" readonly/>
                    <ValidationMessage For="@(() => _buyCoinDto.Currency)"></ValidationMessage>
                </fieldset>
                <fieldset class="fieldset w-full">
                    <legend class="fieldset-legend">@(ModelExtensions.ToDisplay<BuyCoinDto>(i => i.Amount))</legend>
                    <InputNumber @bind-Value="_buyCoinDto.Amount" class="input"/>
                    <ValidationMessage For="@(() => _buyCoinDto.Amount)"></ValidationMessage>
                </fieldset>
            </div>
            <div class="modal-action">

                <form method="dialog">
                    <button class="btn">بستن</button>
                </form>
                <LoadingBtn ButtonText="ثبت" CssClass="btn btn-primary" IsLoading="_isBusy"
                            Type="submit"></LoadingBtn>
            </div>
        </EditForm>
        }

    </div>
</dialog>
@if (_isLoading)
{
    <LoadingList/>
}
else
{
    <div class="grid grid-cols-3 gap-3">
        <label class="input">
            <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g
                    stroke-linejoin="round"
                    stroke-linecap="round"
                    stroke-width="2.5"
                    fill="none"
                    stroke="currentColor"
                >
                    <circle cx="11" cy="11" r="8"></circle>
                    <path d="m21 21-4.3-4.3"></path>
                </g>
            </svg>
            <input type="search" @oninput="OnSearchChanged" required placeholder="جسنجو"/>
        </label>
    </div>

    <div class="grid grid-cols-3 gap-3 mt-3">
        @foreach (var item in _list)
        {
            <div class="card w-96 bg-base-100 card-md shadow-sm mt-3">
                <div class="card-body">
                    <h2 class="card-title">@item.Name</h2>
                    <p>@item.Currency</p>
                    <p>@item.FullName</p>
                    <p>@item.LoseLimit</p>
                    <p>@item.ProfitLimit</p>
                    <div class="justify-end card-actions">
                        <button class="btn btn-primary" @onclick="() => ShowBuyModal(item)">خرید</button>
                        <button class="btn btn-error" @onclick="() => ShowDeleteWarning(item.Id)">حذف</button>
                    </div>
                </div>
            </div>
        }


    </div>
    <hr class="my-5 " />
    <div class="grid grid-cols-3 gap-3 ">
        @foreach (var item in _notStoredlist)
        {
            <NotStoredCoin Item="item" Done="GetData"/>
        }
    </div>
}
